/* Загальні стилі */
body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
}

/* Header */
.page-header {
    background-color: #ffffff;
}

/*Контенер */
.container {
    margin: 0 auto;
}

.header-container {
    justify-content: space-between;
}

/* Логотип */
.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
    text-decoration: none;
}

.logo .accent {
    color: #4d5ae5;
}

/* Навігація */
.nav-list {
    list-style: none;
    margin: 0;
}

.nav-link {
    text-decoration: none;
    color: #2e2f42;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.nav-link:hover,
.nav-link:focus {
    color: #404bbf;
}

/* Контакти */
.contacts-list {
    list-style: none;
    margin: 0;
}

.address {
    font-style: normal;
}

.header-contacts {
    font-style: normal;
}

.contacts-link {
    text-decoration: none;
    font-style: normal;
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.contacts-link:hover,
.contacts-link:focus {
    color: #404bbf;
}

/* Hero */
.hero {
background-color: #2e2f42;
text-align: center;
}

.hero-title {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    color: #ffffff;
    text-align: center;
}

.hero-btn {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    background-color: #4d5ae5;
    cursor: pointer;
    border: none;
}

.hero-btn:hover,
.hero-btn:focus {
    color: #404bbf;
}

/* Features */
.features-title {
    color: #2e2f42;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.features-text {
    color: #434455;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* Команда */
.team {
    background-color: #f4f4fd;
}

.team-title {
    font-family: "Roboto", sans-serif;
    color: #2e2f42;
    font-size: 36px;
    line-height: 1.11;
    font-weight: 700;
    text-align: center;
    margin-bottom: 72px;
}

.team-list {
    list-style: none;
    margin: 0;
}

.team-card {
    font-family: "Roboto", sans-serif;
    background-color: #ffffff;
    text-align: center;
}

.member-name {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin: 32px 0 8px 0;
}

.member-position {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    margin: 0;
}

.container {
    max-width: 1158px;
    margin-left: auto;
    margin-right: auto;
}

/* Portfolio */
.portfolio {
    background-color: #f4f4fd;
}

.portfolio-title {
    color: #2e2f42;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    margin-bottom: 72px;
}

.portfolio-list {
    list-style: none;
    margin: 0;
}

.portfolio-item {
    background-color: #ffffff;
    border: 1px solid #e7e9fc;
    float: left;
    margin-right: 24px;
    margin-bottom: 24px;

}

.portfolio-item:nth-child(3n) {
    margin-right: 0;
}

.portfolio-list::after {
    content: "";
    display: table;
    clear: both;
}

.portfolio-item img {
    display: block;
    max-width: 100%;
}

.portfolio-subtitle {
    color: #2e2f42;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin: 32px 16px 8px 16px;
}

.portfolio-text {
    color: #434455;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin: 0 16px 32px 16px;
}

/* Footer */
.footer {
    background-color: #2e2f42;
}

.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;
    text-decoration: none;
}

.logo-accent {
    color: #4d5ae5;
}

.footer-text {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}